// Font Variables
// Full list of font-family weights

// Thin \ Thin-Italic
// Light \ Light-Italic
// Book \ Book-Italic
// Bold \ Bold-Italic
// Ultra-Bold \ Ultra-Bold-Italic

// LatoBook
$latoBook: 'LatoBook', helvetica, arial, sans-serif;

// LatoSemiBold
$latoBold: 'LatoBold', helvetica, arial, sans-serif;

// merriweatherRegular
$merriweatherRegular: 'MerriweatherRegular', gerogia, serif;

/* Global type styles */

.primary-text {
    font-family: $latoBold;
}

.tertiaryType {
    font-family: $latoBook;
    font-size: 21px;
    color: $ship-grey;
    margin-top: 0;
}

.copy {
    font-family: $merriweatherRegular;
    color: lighten($ship-grey, 15%);
    font-size: 14px;
}
